<% include partials/header %>
<% include partials/mainnav %>
<div id="homepageStory" class="storybook add-floating-bg add-floating-bg-1" data-editor-tags="new,dashboard">
	<div class="story story1" id="scrollstop0">
		<section class="container">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<div class="story-box row">
				<header>
					<h1 class=" text-center">Hi, I&rsquo;m Keegan.</h1>
				</header>
				<section>
					<p><strong>I&rsquo;m a seasoned web developer, with experience that spans the entire web technology stack.</strong> I develop engaging, high performance websites that dance on the limits of web technology. Every now and then, I&rsquo;ve program stuff that lives outside the web too, like embedded applications for the Raspberry Pi. In short: I&rsquo;m in this to build amazing stuff.</p>
					<nav class="cta-nav row">
						<a href="#scrollstop1" class="btn flip-btn btn-lgr scroll-link">
							<span><strong>Learn about my skillset</strong> <i class="glyphicon glyphicon-chevron-down"></i></span></a>
						<a href="/posts/" class="btn flip-btn btn-lgr"><span><strong>Read some things I&rsquo;ve written</strong> <i class="glyphicon glyphicon-chevron-right"></i></span></a>
						<a href="/my-experience" class="btn flip-btn btn-lgr"><span><strong>View my Curriculum Vitae</strong> <i class="glyphicon glyphicon-chevron-right"></i></span></a>
					</nav>				
				</section>
				<a href="#scrollstop1" class="scroll-link link-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
				</div>
			</div>
		</section>
	</div>
	<div class="story story2" id="scrollstop1">
		<section class="container">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<div class="story-box row">
				<header>
					<h2 class="text-center">I love challenges.</h2>
				</header>
				<section>
					<p>I get the most out of my work when I&rsquo;m learning something new. I&rsquo;m known for tackling projects just because they sound hard, interesting, or unique.</p>
					<p>Here&rsquo;s a few examples of the technologies I&rsquo;ve picked up for the challenge of it:</p>
					<ul class="list-inline text-center">
						<li><a href="https://www.processing.org/" class="btn bubble-btn btn-success" target="_blank">
							<span><i class="small-glyph glyphicon glyphicon-new-window"></i> Processing</span></a>
						</li>
						<li><a href="https://www.raspberrypi.org/" class="btn bubble-btn btn-success" target="_blank">
							<span><i class="small-glyph glyphicon glyphicon-new-window"></i> Raspberry Pi</span></a>
						</li>
						<li><a href="http://opencv.org/" class="btn bubble-btn btn-success" target="_blank">
							<span><i class="small-glyph glyphicon glyphicon-new-window"></i> OpenCV</span></a>
						</li>
						<li><a href="https://github.com/OpenKinect/libfreenect" class="btn bubble-btn btn-success" target="_blank">
							<span><i class="small-glyph glyphicon glyphicon-new-window"></i> Microsoft Kinect</span></a>
						</li>
						<li><a href="https://libcinder.org/" class="btn bubble-btn btn-success" target="_blank">
							<span><i class="small-glyph glyphicon glyphicon-new-window"></i> Cinder++</span></a>
						</li>
						<li><a href="https://emotiv.com/epoc.php" class="btn bubble-btn btn-success" target="_blank">
							<span><i class="small-glyph glyphicon glyphicon-new-window"></i> Emotiv EPOC</span></a>
						</li>
					</ul>
				</section>
				<a href="#scrollstop0" class="scroll-link link-up"><i class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#scrollstop2" class="scroll-link link-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
				</div>
			</div>
		</section>
	</div>
	<div class="story story3" id="scrollstop2">
		<section class="container">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<div class="story-box row">
				<header>
					<h2 class="text-center">Front-end development <br>
						is my bread and butter.</h2>
				</header>
				<section>
					<p>Don&rsquo;t get me wrong &ndash; I like manipulating data and developing controller actions as much as the next guy. But ultimately, I find nothing quite so satisfying as pushing the limits of animation and interactivity.</p>
					<ul>
						<li>You want an <strong>HTML5 Canvas</strong> particle engine? Let&rsquo;s do it.</li>
						<li><strong>CSS3 3d</strong> effects? Easy.</li>
						<li>How about <strong>game logic</strong>? Sounds great.</li>
						<li>This image needs to <strong>follow the mouse</strong> around like a lost puppy? Consider it done.</li>
					</ul>
				</section>
				<a href="#scrollstop1" class="scroll-link link-up"><i class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#scrollstop3" class="scroll-link link-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
				</div>
			</div>
		</section>
	</div>
	<div class="story story4" id="scrollstop3">
		<section class="container">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<div class="story-box row">
				<header>
					<h2 class="text-center">I&rsquo;ve never met a backend stack <br>
					that I couldn&rsquo;t get along with.</h2>
				</header>
				<section>
					<p>I&rsquo;m a big fan of JavaScript. Not because because the language is particularly interesting or graceful (although ES2015 is pretty cohesive), but because it&rsquo;s extremely flexible. So, you can imagine my excitement when Node.JS started to make an impact. Node.JS is my go-to backend for apps where I can pick and choose my application stack, but I&rsquo;m definitely not limited to it.</p>
					<p>I&rsquo;ve worked in a host of different environments, from <strong>NodeJS</strong>, <strong>PHP</strong>, <strong>Ruby on Rails</strong>, <strong>C#/.NET</strong> and more. I&rsquo;ve also used and configured <strong>Apache</strong>, <strong>NGINX</strong>, and <strong>IIS</strong>. I&rsquo;ve even spent time optimizing site performance on both <strong>Linux</strong> and <strong>Windows</strong> Server Platforms.</p>
				</section>
				<a href="#scrollstop2" class="scroll-link link-up"><i class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#scrollstop4" class="scroll-link link-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
				</div>
			</div>
		</section>
	</div>
	<div class="story story5" id="scrollstop4">
		<section class="container">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<div class="story-box row">
				<header class="text-center">
					<h2>I&rsquo;ve got opinions about code <br>
					and I&rsquo;m happy to discuss them.</h2>
					<p><em>My opinions aren&rsquo;t necessarily original, but they&rsquo;re well founded.</em></p>
				</header>
				<section>
					<ul>
						<li>Writing smarter code is better than writing code faster.</li>
						<li>OOP isn&rsquo;t always the best approach for every problem.</li>
						<li>Writing descriptive function and variable names is better than code comments.</li>
						<li>It&rsquo;s time to take JavaScript seriously.</li>
						<li>A function or method should always only do one thing.</li>
						<li>If code looks repetitive, then there is a better way to write it.</li>
					</ul>
				</section>
				<a href="#scrollstop3" class="scroll-link link-up"><i class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#scrollstop5" class="scroll-link link-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
				</div>
			</div>
		</section>
	</div>
	<div class="story story6" id="scrollstop5">
		<section class="container">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<div class="story-box row">
				<header class="text-center">
					<h2>I like to make art with programming.</h2>
					<p><em>The first thing that drew me to programming was as a way to make generative art.</em></p>
				</header>
				<section>
					<p>One of the most enticing things about making artwork through programming is the potential for each and every instance of an artwork to be entirely unique. With the proper tools and some creative programming, I can create algorithmic designs that incorporate just enough randomness to present a one-of-a-kind work to a user on each viewing. The idea of creating designs that are both beautiful and entirely unique iterations is fascinating.</p>
				</section>
				<a href="#scrollstop4" class="scroll-link link-up"><i class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#scrollstop6" class="scroll-link link-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
				</div>
			</div>
		</section>
	</div>
</div>
<% include partials/footer %>